@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Configurações gerais */
*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}
/* Final configurações gerais */

    /* Bold dos bottons */
    .bold-button, h1, h2 {
        font-weight: 600;
    }

    /* botton cards */
    #teste a {
        font-weight: 600;
    }
    /* final botton cards */


/* Configurações da img gerais */
.img-dois-avatar {
    margin-top: -50px;
    color: #021D40;
}
/* Final img gerais */

/* Button saiba configurações */
.btn-marinho {
    background: #021d40;
    color: #0dcaf0
}

    .btn-marinho:hover {
        background: #021057;
        color: #0dcaf0
    }
/* Final button saiba configurações */


/* Footer Configurações */
.bg-marinho-footer {
    background: #021d40;
    color: #fff;
}

    /* segundo footer cor mais clara */
    .bg-marinho-secondary-footer {
        background: #02224D;
        color: #fff;
        font-size: 20px;
    }

    .bg-marinho-secondary-footer a {
        color: #fff;
        text-decoration: none;
    }
    /* Final Footer Cor mais clara */


/* Footer Configurações final */

.bg-marinho-secondary {
    background: #021D40;
}

.faixa-meio {
    background-color: #021D40;
}



.bg-footer {
background-color: #021F59;
}

