@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Configurações gerais */
*,::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}
/* Final configurações gerais */

    /* Bold dos bottons */
    .bold-button, h1, h2 {
        font-weight: 600;
    }

    /* botton cards */
    #teste a {
        font-weight: 600;
    }
    /* final botton cards */


/* Configurações da img gerais */
.img-dois-avatar {
    margin-top: -50px;
    color: #021D40;
}

article, .btn-saibamais {
    background: #05C7F2;
}
    /* Final img gerais */

/* Button saiba configurações */
.btn-marinho {
    background: #021d40;
    color: #ffffff
}

    .btn-marinho:hover {
        background: #021057;
        color: #ffffff;
    }

    .btn-saibamais:hover {
        background: #05C7F2;
        color: #ffffff;
    }
/* Final button saiba configurações */

/* Tela de Cadastro usuario */
.cadastro-bloco-azul-marinho {
    width: 100%;
    height: 150px;
    background: #021d40;
}

    .google-button {
        background: #DB4A39;
        border: none;
    }

    .google-button:hover{
        background: #fa1900;
    }

/* Footer Configurações */
.bg-marinho-footer {
    background: #021d40;
    color: #fff;
}

    /* segundo footer cor mais clara */
    .bg-marinho-secondary-footer {
        background: #02224D;
        color: #fff;
        font-size: 20px;
    }

    .bg-marinho-secondary-footer a {
        color: #fff;
        text-decoration: none;
    }
    /* Final Footer Cor mais clara */


/* Footer Configurações final */


